<form [formGroup]="registerForm" (ngSubmit)="register()" >
    
  <div class="text-center mb-4">
    <h1>Register</h1>
    <hr> 
  </div>
  <div class="mb-3">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}" 
    class="form-control"  
    formControlName="username" 
    placeholder="Username" >

    <div class="invalid-feedback">
      Please enter your username.
    </div>
  </div>

  <div class="mb-3">
    <input type="password" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}" 
    class="form-control" formControlName="password" placeholder="Password" >
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')&& registerForm.get('password').touched">Please enter your password.</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password must be at least 6 characters.</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password length couldn't exceeds 20.</div>
  </div>

  <div class="mb-3">
    <input type="password" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched 
    || registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched}"
     class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" >
     <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Please confirm your password.</div>
     <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Password didn't match.</div>
  </div>

  <button type="submit" class="btn btn-success mr-sm-2">Submit</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>

<p>value: {{registerForm.value | json }}</p>
<p>Errors: {{registerForm.errors | json}}</p>
<p>Status: {{registerForm.status | json}}</p>