<form #registerForm="ngForm" (ngSubmit)="register()" >
    
  <div class="text-center mb-4">
    <h1>Register</h1>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control"  name="username" placeholder="Username" [(ngModel)]="model.username" required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" required>
  </div>
  <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</form>