<form [formGroup]="registerForm" (ngSubmit)="register()" >
    
  <div class="text-center mb-4">
    <h1>Register</h1>
    <hr> 
  </div>
  <div class="mb-3">
    <input type="text" class="form-control"  formControlName="username" placeholder="Username" >
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" formControlName="password" placeholder="Password" >
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" >
  </div>
  <button type="submit" class="btn btn-success mr-sm-2">Submit</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>

